apiVersion: v1
kind: Secret
metadata:
  name: kk-payments-secrets
  namespace: default
type: Opaque
# Add secret values in the format below.
# Use either `stringData` for plain-text values or `data` for base64-encoded values.
stringData:
  # Example keys:
  DB_PASSWORD: "<DB_PASSWORD>"
  STRIPE_API_KEY: "<STRIPE_API_KEY>"
  JWT_SECRET: "<JWT_SECRET>"
